.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}
.light {
    background: white;
}
.radio_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
}