.someClass p {
    font-weight: 600;

}

.btnFilter {
    border-radius: 20px;
    margin: 10px 5px;
    font-weight: 700;
    background-color: #00076f;
    color: antiquewhite;
}

.btnActive {
    opacity: 0.7;
}

.low {
    color: green;
}

.middle {
    color: orange;
}

.high {
    color: darkred;
}

.nameAffair {
    display: flex;
    align-items: center;
    margin-bottom: -15px;
}


.btnDel {
    height: 20px;
    border-radius: 7px;
    margin: 0 5px;
    font-weight: 700;

}